body {
  background-color: #231f20;
  color: white;
}

input {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 32px; 
  text-decoration: underline;
  font-weight: bold;
}

.container {
  width: 60%;
}

#main-container {
  width: 50%;
  height: 85vh;
  text-align: center;
  background-color: #65737e;
  margin-top: 5%;
}

#prompt-text {
  font-size: 28px;
}

