body {
  height: 100vh;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

input {
  text-align: center;
}

b {
  width: 100%;
}

#header {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #343d46;
  font-size: 50px;
  height: 90px;
  /* font-weight: bold; */
  width: 100%;
  /* padding: 10px; */
  margin: 0px;
  border-bottom: 2px solid #a7adba;
}

#main-container {
  align-self: center;
  width: 50%;
  height: 465px;
  margin-bottom: 6%;
  text-align: center;
  background-color: #65737e;
  border: solid 2px #a7adba;
  line-height: 40%;
}

#form-dash {
  font-size: 32px;
  margin-top: 11px;
}

.main-sub-container {
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.sub-text-container {
  padding: 12px;
  height: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-text {
  font-size: 28px;
  width: 100%;
}

.number-input {
  width: 160px;
}

.big-button {
  width: 60%;
}

.btn {
  margin: 16px;
}

.container {
  width: 60%;
  padding: 0px;
}

.row {
  width: 100%;
  padding: 2%;
}

